@import 'https://fonts.googleapis.com/css?family=Raleway';

body {margin: 0;}

/* Enter normal CSS here.. */


.fa_container {
	margin-top: -10px;
	margin-right: -10px;
}

.fa {
	float:right;
  	padding: 10px;
  	width: 15px;
  	text-decoration: none;
  	margin: 1px 2px;
  	border-radius: 50%;
}

.fa:hover {
    opacity: 0.3;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

h2 {float: right;}
.text_hidden {
    display: none;
}

.background_1 {
    background: url(background_1.jpg) no-repeat center fixed;
    background-position: center bottom;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 

    }

.content {
    color: white;
}

.content h1 {
    position: absolute;
    bottom: 15px;
}

.content p {
    position: absolute;
    bottom: 0;
}

.content h2 {
    position: absolute;
    middle: 15px;
}

.content p {
    position: absolute;
    middle: 15px;
}

.link {
    text-decoration: none;
    text-decoration: underline;
    color: white;

}

button {
    border: none;
}


/* Normal CSS ends here. */

@media screen and (max-width: 1100px){
/* Enter mobile CSS here.. */

.content h1 {
    position: absolute;
    bottom: 35px;
}


}
  .logo_top {
        display: block;
        float: left;
        margin: -10px;
        padding: 0;
        margin-left: 0;
        color: #333;
        width: 140px;
        margin-top: 5px;

        margin-right: 30px;
        float: right;
        }

}

@media screen and (max-width: 900px){
	
/* Enter mobile CSS here.. */


.fa_container {
	display:compact;
	
}

  .logo_top {
        display: block;
        float: left;
        margin: -10px;
        padding: 0;
        margin-left: 0;
        color: #333;
        width: 140px;
        margin-top: 5px;

        margin-right: 30px;
        float: right;
        }


/* Mobile CSS ends here.. */
/* Your code ends here. */

}

@media screen and (max-width: 500px){

.content h1 {
    position: absolute;
    bottom: 55px;
}

  .logo_top {
        display: block;
        float: left;
        margin: -10px;
        padding: 0;
        margin-left: 0;
        color: #333;
        width: 140px;
        margin-top: 5px;

        margin-right: 30px;
        float: right;
        }


}


/* Don't change anything below this. */

/* New Code. Only: new classes; */

.test {
    width: 100%;
    height: 10%;
    background-color: #26A69A;
}

.test h1 {
    color: white;
    font-size: 8vw;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #333;
    margin-bottom: 10px;
}

div.content h2 {
    margin-bottom: 5px;
}

/* Content */
.content {
    margin-top: 16px;
    margin-right: 16px;

    font-family: 'Raleway', sans-serif;
}

.content_full{
    margin-top: 76px;
    margin-left: 16px;
    
}

.content_minim{
    margin-left: 216px;
    
}

    @media screen and (max-width: 900px){

    .content{
        margin-left: 10px;
        margin-right: 10px;
        padding: 1px 16px;

        font-family: 'Raleway', sans-serif;
        }

    .content_top {
        margin-top: 150px;
        }

    .content_low {
        margin-top: 70px;
        }
}

/* Button */
.button3_maxim {
    margin-top: 5px;
    margin-left: 159px;
    
}

.button3_minim {
    margin-top: -50px;;
    margin-left: 218px;
   
}

    @media screen and (max-width: 900px){

        .button2{
        float: right;
        border: none;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px;
        cursor: pointer;

        font-family: 'Raleway', sans-serif;
        font-weight: bold;
       
        color: #333;

        background-color: white; 
        border: 2px solid #333;
        }

        .button2:hover {
        background-color: red;
        color: white;
        }
    }

/* Side navigation */

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 90%;

    font-family: 'Raleway', sans-serif;
    top: 100px;

    background-color: white;
    z-index: 2;
}

.sidenav_show{
    margin-left: 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.sidenav_hide{
    margin-left: -200px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.sidenav li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;

    color: #333;
}
 
.sidenav li a.active {
    color: black;
    background-color: #B0BEC5;
}

.sidenav li a:hover:not(.active) {
    color: black;
    background-color: #E0E0E0;
}


    @media screen and (max-width: 900px){
        
        .sidenav{
        display: none;
        }
    }

/* Side navigation Top */

        .sidetop {
        display: block;
        height: 60px;
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        position: fixed;
        background-color: white;

        z-index: 0;
        }

        .sidetop_hide {
            margin-top: -70px;

        }

        .sidetop_show {
            margin-top: 0;

                    }

        .logo_sidetop {
            float: right;
            margin-top: -10px;
            margin-right: 8px;
            width: 140px;
        }


/* Side navigation Header */
header.anchor16 {
    display: inline;
    width: 200px;
    height: 100px;
    padding: 0;
    float: left;
    position: fixed;
    top: 0;
    background-color: white;
}

.logo {
    width: 200px;
    float: left;
    margin-top: 0;
    position: fixed;
    display: block;
}


    @media screen and (max-width: 900px){

        button.anchor14{
        display: none;
        }   


        header.anchor16 {
        display: none;   
        }
        }


/* Top navigation */
header.anchor15 {
    display: none;
}

ul.anchor16 {
    display: none;
}

.logo_top {
    display: none
}

    @media screen and (max-width: 900px){

        header.anchor15 {
        display: block;
        height: 75px;
        width: 100%;
        margin: -10px;
        padding: 0px;
        top:0;
        position: fixed;
        z-index: 1;

        background-color: white;
        }

        .logo_top {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        margin-left: 0;
        color: #333;
        width: 140px;
        margin-top: 5px;

        margin-right: 30px;
        float: right;
        }

        ul.anchor16 {
        display: block;
        }

        .topnav {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        width:100%;
        position:relative;
        background-color: white;
        font-family: 'Raleway', sans-serif;
        }

        .topnav_hide{
        margin-top: -20em;

        }

        .topnav_show{
        margin-top: 0;
        top:60px;

        }

        .topnav li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        text-align: center;
        float: none;
        color: #333;
        }
 
        .topnav li a.active {
        color: black;
        background-color: #B0BEC5;
        }

        .topnav li a:hover:not(.active) {
        background-color: #E0E0E0;
        color: black;
        }
    }


/* Hamburger Button - Animation is tuff and challenging | Don't even think about it. copyright to Abin and Team!!!*/ 

.bring_to_front {
    z-index: 2;
    position: fixed;
}
    @media screen and (max-width: 900px){
.bring_to_front {
    display: none;
}   
    }
  .hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; 
}

  .hamburger:hover {
    opacity: 0.7; }

    .hamburger:focus {
        outline:none;
    }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }


   /*Change*/

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }


.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* Top navigation button location code */
@media screen and (max-width: 900px){
    .button2_location {
        float: left;
        margin: 18px;
    }
}

/* Footer */
.footer {
    position: relative;
    float: right;
    right: 0;
    bottom: 0;
    background-color: #FFAB91;
    height: 120px;
    z-index: 0;
}

.footer_minim {
    width: calc(100% - 200px);

    }

.footer_maxim {
    width: 100%;

   
}

.footer p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

@media screen and (max-width: 900px){
    .footer {
        width: 100%;
    }
    }
